<section class="comments container">
    <h3>Depoimentos de Clientes</h3>
    <p>A experiência foi incrível, super recomendo a locadora!</p>
    <div class="content4">
        <div class="card-content">
            <div class="content-score">
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
            </div>
            <div class="content-comment">
                <p>"O atendimento foi excepcional e o carro impecável"</p>
            </div>
            <div>
                <img class="user-img" src="assets/img1.jpg" alt="Foto cliente">
                <p class="content-user">João Silva</p>
                <p class="user-description">Gerente, Empresa XYZ</p>
            </div>
            <img src="" alt="Webflow" class="company-logo">
        </div>
        <div class="card-content">
            <div>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
            </div>
            <div class="content-comment">
                <p>"A locadora superou todas as minhas expectativas!"</p>
            </div>
            <div>
                <img class="user-img" src="assets/img1.jpg" alt="Foto cliente">
                <p class="content-user">Maria Oliveira</p>
                <p class="user-description">Diretora, Empresa ABC</p>
            </div>
            <img src="" alt="Webflow" class="company-logo">
        </div>
        <div class="card-content">
            <div>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
            </div>
            <div class="content-comment">
                <p>"Serviço rápido e eficiente, volterei com certeza!"</p>
            </div>
            <div>
                <img class="user-img" src="assets/img1.jpg" alt="Foto cliente">
                <p class="content-user">Calos Mendes</p>
                <p class="user-description">Coordenador, Empresa 123</p>
            </div>
            <img src="" alt="Webflow" class="company-logo">
        </div>

    </div>
</section>